@import "tailwindcss";
@import "uniwind";

@source '../../packages/ui';

/* ===========================
   Variables de tema Light / Dark
   =========================== */
@layer theme {
  :root {
    /* =============================
       Light Theme Variables
       ============================= */
    @variant light {
      --color-background: hsl(0 0% 100%);
      --color-foreground: hsl(36 6% 14%);

      --color-muted: hsl(40 14% 96%);
      --color-muted-foreground: hsl(35 9% 54%);

      --color-border: hsl(36 16% 83%);
      --color-input: hsl(36 16% 83%);
      --color-ring: hsl(4 76% 48%);

      --color-text-primary: hsl(36 6% 14%);
      --color-text-secondary: hsl(0 1% 18%);
      --color-text-disabled: hsl(60 5% 74%);

      --color-primary: hsl(4 76% 48%);
      --color-primary-foreground: hsl(0 0% 100%);
      --color-primary-200: hsl(27 100% 93%);
      --color-primary-800: hsl(4 76% 48%);
      --color-primary-900: hsl(3 70% 40%);
      --color-primary-1000: hsl(2 64% 33%);

      --color-secondary: hsl(175 68% 54%);
      --color-secondary-foreground: hsl(175 83% 32%);
      --color-secondary-200: hsl(172 95% 95%);
      --color-secondary-800: hsl(175 68% 54%);
      --color-secondary-900: hsl(175 69% 42%);
      --color-secondary-1000: hsl(175 83% 32%);

      --color-success: hsl(124 77% 32%);
      --color-success-foreground: hsl(124 77% 32%);
      --color-success-200: hsl(124 79% 90%);

      --color-warning: hsl(65 87% 38%);
      --color-warning-foreground: hsl(65 87% 38%);
      --color-warning-200: hsl(49 100% 92%);

      --color-destructive: hsl(359 76% 45%);
      --color-destructive-foreground: hsl(0 0% 100%);
      --color-destructive-200: hsl(0 93% 94%);
      --color-destructive-300: hsl(359 94% 89%);
      --color-destructive-400: hsl(359 93% 82%);

      --color-accent: hsl(175 69% 42%);
      --color-accent-foreground: hsl(0 0% 100%);

      --color-popover: hsl(0 0% 100%);
      --color-popover-foreground: hsl(36 6% 14%);

      --color-card: hsl(0 0% 100%);
      --color-card-foreground: hsl(36 6% 14%);

      --radius: 0.5rem;
    }

    /* =============================
       Dark Theme Variables
       ============================= */
    @variant dark {
      --color-background: hsl(36 6% 10%);
      --color-foreground: hsl(40 14% 96%);

      --color-muted: hsl(36 6% 18%);
      --color-muted-foreground: hsl(35 9% 64%);

      --color-border: hsl(36 10% 25%);
      --color-input: hsl(36 10% 25%);
      --color-ring: hsl(4 76% 55%);

      --color-text-primary: hsl(40 14% 96%);
      --color-text-secondary: hsl(40 10% 85%);
      --color-text-disabled: hsl(36 5% 40%);

      --color-primary: hsl(34 76% 48%);
      --color-primary-foreground: hsl(0 0% 100%);
      --color-primary-200: hsl(4 40% 20%);
      --color-primary-800: hsl(4 76% 55%);
      --color-primary-900: hsl(4 76% 48%);
      --color-primary-1000: hsl(3 70% 40%);

      --color-secondary: hsl(175 68% 45%);
      --color-secondary-foreground: hsl(175 68% 85%);
      --color-secondary-200: hsl(175 40% 15%);
      --color-secondary-800: hsl(175 68% 45%);
      --color-secondary-900: hsl(175 69% 42%);
      --color-secondary-1000: hsl(175 83% 32%);

      --color-success: hsl(124 60% 45%);
      --color-success-foreground: hsl(124 60% 45%);
      --color-success-200: hsl(124 40% 18%);

      --color-warning: hsl(65 70% 50%);
      --color-warning-foreground: hsl(65 70% 50%);
      --color-warning-200: hsl(65 40% 18%);

      --color-destructive: hsl(359 70% 55%);
      --color-destructive-foreground: hsl(0 0% 100%);
      --color-destructive-200: hsl(359 40% 20%);
      --color-destructive-300: hsl(359 50% 25%);
      --color-destructive-400: hsl(359 60% 35%);

      --color-accent: hsl(175 69% 42%);
      --color-accent-foreground: hsl(0 0% 100%);

      --color-popover: hsl(36 6% 12%);
      --color-popover-foreground: hsl(40 14% 96%);

      --color-card: hsl(36 6% 18%);
      --color-card-foreground: hsl(40 14% 96%);

      --radius: 0.5rem;
    }
  }
}
