@layer base {
  :root {
    /* Base / shadcn */
    --background: 0 0% 100%;
    --foreground: 36 6% 14%;
    --muted: 40 14% 96%;
    --muted-foreground: 35 9% 54%;
    --border: 36 16% 83%;
    --input: 36 16% 83%;
    --ring: 4 76% 48%; /* Texto */
    --text-primary: 36 6% 14%;
    --text-secondary: 0 1% 18%;
    --text-disabled: 60 5% 74%; /* Primary (rojo) */
    --primary: 4 76% 48%;
    --primary-foreground: 0 0% 100%;
    --primary-200: 27 100% 93%;
    --primary-800: 4 76% 48%;
    --primary-900: 3 70% 40%;
    --primary-1000: 2 64% 33%; /* Secondary (turquesa) */
    --secondary: 175 68% 54%;
    --secondary-foreground: 175 83% 32%;
    --secondary-200: 172 95% 95%;
    --secondary-800: 175 68% 54%;
    --secondary-900: 175 69% 42%;
    --secondary-1000: 175 83% 32%; /* Success */
    --success: 124 77% 32%;
    --success-foreground: 124 77% 32%;
    --success-200: 124 79% 90%; /* Warning */
    --warning: 65 87% 38%;
    --warning-foreground: 65 87% 38%;
    --warning-200: 49 100% 92%; /* Destructive */
    --destructive: 359 76% 45%;
    --destructive-foreground: 0 0% 100%;
    --destructive-200: 0 93% 94%;
    --destructive-300: 359 94% 89%;
    --destructive-400: 359 93% 82%; /* Accent */
    --accent: 175 69% 42%;
    --accent-foreground: 0 0% 100%; /* Popover */
    --popover: 0 0% 100%;
    --popover-foreground: 36 6% 14%; /* Card */
    --card: 0 0% 100%;
    --card-foreground: 36 6% 14%;
    --radius: 0.5rem;
  }

  .dark {
    /* Base / shadcn */
    --background: 36 6% 10%;
    --foreground: 40 14% 96%;
    --muted: 36 6% 18%;
    --muted-foreground: 35 9% 64%;
    --border: 36 10% 25%;
    --input: 36 10% 25%;
    --ring: 4 76% 55%; /* Texto */
    --text-primary: 40 14% 96%;
    --text-secondary: 40 10% 85%;
    --text-disabled: 36 5% 40%; /* Primary (rojo) */
    --primary: 4 76% 48%;
    --primary-foreground: 0 0% 100%;
    --primary-200: 4 40% 20%;
    --primary-800: 4 76% 55%;
    --primary-900: 4 76% 48%;
    --primary-1000: 3 70% 40%; /* Secondary (turquesa) */
    --secondary: 175 68% 45%;
    --secondary-foreground: 175 68% 85%;
    --secondary-200: 175 40% 15%;
    --secondary-800: 175 68% 45%;
    --secondary-900: 175 69% 42%;
    --secondary-1000: 175 83% 32%; /* Success */
    --success: 124 60% 45%;
    --success-foreground: 124 60% 45%;
    --success-200: 124 40% 18%; /* Warning */
    --warning: 65 70% 50%;
    --warning-foreground: 65 70% 50%;
    --warning-200: 65 40% 18%; /* Destructive */
    --destructive: 359 70% 55%;
    --destructive-foreground: 0 0% 100%;
    --destructive-200: 359 40% 20%;
    --destructive-300: 359 50% 25%;
    --destructive-400: 359 60% 35%; /* Accent */
    --accent: 175 69% 42%;
    --accent-foreground: 0 0% 100%; /* Popover */
    --popover: 36 6% 12%;
    --popover-foreground: 40 14% 96%;
    --card: 36 6% 18%;
    --card-foreground: 40 14% 96%;
  }
}